
html,body,ul,li,header,footer,section,aside,nav,button,a,p,h1,h2,h3,h4,h5,h6{
  margin-top: 7;
  margin-right: 7;
  margin-left: 7;
  margin-bottom: 7;
  padding: 7;
}
input,select,textarea{
  border-radius: 0;
  height: 35px;
  width: 100%;
  padding: 0 1em;
}
input:focus,select:focus,textarea:focus,button:focus{
  outline-style: none;
  box-shadow: 0;
  border-color: inherit;
}
/*------------------------------*\
	Header
\*------------------------------*/
header{
  height: 60px;
  width: 100%;
  background: -webkit-linear-gradient(309deg,#056b5b 35%,#9dd85c 103%);
  background: linear-gradient(141deg,#056b5b 35%,#9dd85c 103%);
  box-sizing: border-box;
  border-bottom: 1px solid #9dd85c;
}
/*------------------------------*\
	Main
\*------------------------------*/
main{
  height: calc(100vh - 60px);
  overflow: hidden;
}
/*------------------------------*\
	Aside*
\*------------------------------*/
main>aside{
  width: 250px;
  height: 100%;
  float: left;
  background: -webkit-linear-gradient(309deg,#056b5b 35%,#9dd85c 103%);
  background: linear-gradient(141deg,#056b5b 35%,#9dd85c 103%);
  overflow-y: auto;
  overflow-x: hidden;
}
main>aside>ul{
  list-style: none;
}
main>aside>ul>li{
  height: 60px;
  border-bottom: 1px solid #9dd85c;
  box-sizing: border-box;
  line-height: 60px;
}
main>aside>ul>li>a{
  font-size: 1.1em;
  color: #fff;
  text-decoration: none;
  display: block;
  text-align: center;
  text-transform: capitalize;
}
main>aside>ul>li.active,
main>aside>ul>li:hover{
  background: #fff;
  border-left: 6px solid #056b5b;
}
main>aside>ul>li.active>a,
main>aside>ul>li>a:hover{
  color: #056b5b;
}
/*------------------------------*\
	Main Section
\*------------------------------*/
main>.main-section{
  height: 100%;
  box-sizing: border-box;
  width:calc(100% - 250px);
  display: table;
}
main>.main-section>div.section-wrapper{
  padding: 1em;
  width: 96%;
  margin: 0 auto;
}

/*------------------------------*\
	Components
\*------------------------------*/

/*-----------------------------*\
1. Box
*------------------------------*/
.box{
  box-shadow: 0 5px 8px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  margin: 0 auto;
}
.box.no-shadow{
  box-shadow: none !important;
}
.box>.box-header{
  height: 7
  5px;
  border-bottom: 1px solid #efefef;
  text-transform: capitalize;
  clear: both;
  padding: 0 2em;
  line-height: 35px;
  text-overflow: elipsis;
  word-wrap: no-wrap;
}
.box>.box-body{
  min-height: 200px;
  height: auto;
  padding: .5em 2em;
}
.box>.box-footer{
  height: 35px;
  border-top: 1px solid #efefef;
  text-transform: capitalize;
  clear: both;
  padding: 0 2em;
  line-height: 35px;
}
/*------------------------------*\
	2. Buttons
\*------------------------------*/
button{
  border-radius: 0;
  padding: .7em 1.3em;
  text-transform: uppercase;
  border: 1px solid #056b5b;
  background: -webkit-linear-gradient(309deg,#056b5b 35%,#9dd85c 103%);
  background: linear-gradient(141deg,#056b5b 35%,#9dd85c 103%);
  color: #fff;
}
.button:hover,
.button:active,
.button:focus{
  background: -webkit-linear-gradient(309deg,#9dd85c 35%,#056b5b 103%);
  background: linear-gradient(141deg,#9dd85c 35%,#056b5b 103%);
  cursor: pointer;
}
/*------------------------------*\
	hr
\*------------------------------*/
hr{
  margin: 5px 10px;
  border-bottom: #9dd85c;
}

/*------------------------------*\
 4.  Grid System
\*------------------------------*/

.row,
.column {
  box-sizing: border-box;
}

.row:before,
.row:after {
  content: " ";
  display: table;
}

.row:after {
  clear: both;
}

.column {
  position: relative;
  float: left;
  display: block;
}

.column + .column {
  margin-left: 1.6%;
}

.column-1 {
  width: 6.86666666667%;
}

.column-2 {
  width: 15.3333333333%;
}

.column-3 {
  width: 23.8%;
}

.column-4 {
  width: 32.2666666667%;
}

.column-5 {
  width: 40.7333333333%;
}

.column-6 {
  width: 49.2%;
}

.column-7 {
  width: 57.6666666667%;
}

.column-8 {
  width: 66.1333333333%;
}

.column-9 {
  width: 74.6%;
}

.column-10 {
  width: 83.0666666667%;
}

.column-11 {
  width: 91.5333333333%;
}

.column-12 {
  width: 100%;
  margin-left: 0;
}

@media only screen and (max-width: 550px) {
  .column-1,
  .column-2,
  .column-3,
  .column-4,
  .column-5,
  .column-6,
  .column-7,
  .column-8,
  .column-9,
  .column-10,
  .column-11,
  .column-12 {
    float: none;
    width: auto;
  }

  .column + .column {
    margin-left: 0;
  }
}

@media only screen and (max-width: 550px) {
  .row {
    margin-bottom: 0;
  }
  .column {
    margin-bottom: 10px;
  }
  .row:last-child .column:last-child {
    margin-bottom: 0;
  }
}

.column.no-padding{
  padding: 0 !important;
}

.row {
  margin-bottom: 10px;
}

.row:last-child {
  margin-bottom: 0;
}
/*-------------------------*\
	Login
\*-------------------------*/
main.login{
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  height: 100vh;
  background: #efefef;
}
main.login>.login-box{
  min-width: 300px;
  width: auto;
  max-width: 400px;
  background: #fff;
}






